@charset "utf-8";

body { 
  background-color: #cd6c55; 
  font-family: sans-serif; 
  padding: 0 20px;
}

h2 { 
  margin: 10px;
  font-size: 150%;
  text-align: center; 
  }

  h3{
    color: white;
  }

fieldset { 
  width: 50%;
  margin: 0 auto;
  border: #e4e4f6 1px solid; 
  padding: 10px 20px 20px;
} 

legend { 
  margin: 5px;
  font-size: 120%; 
  padding: 0px 10px;
}

input { 
  margin:1%;
  font-size: 100%; 
}

label{
    display: inline-block;
    width: 10%;
    padding-right: 2px;
    font-weight: bolder;
    color: blue;
}


.vaciar {
  color: red;
  font-weight: bold;
}

.anadir {
    color: blue;
}

.limpiar {
    color: green;
}


table{
    width: 50%;
    color: blue;
    font-weight: bold;
}

td{
    width: 5%;
}


